body {
    font-family: 'Oswald', sans-serif;
}
p{
    font-weight: 400px;
}

/* #show-phone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
} */

#spinner {
    display: none;
}
/* #error-msg-1, #error-msg-2 {
    display: none;
} */

 /* X-Small devices (portrait phones, less than 576px) */
/* @media (max-width: 576px) {
  
}

