body {
    font-family: 'Oswald', sans-serif;
}

#show-phone-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .card-img-top {
        
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    #show-phone-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    } 
}

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {  }